.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s ease-out, opacity 0.5s ease-out;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  background: #fff;
  width: 730px;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
  font-family: "Poppins", Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 8px;
}

.modal__container_type_preview {
  padding: 0;
  border: none;
  width: auto;
  max-width: 80vw;
  max-height: 80vh;
}

.modal__image {
  max-width: 80vw;
  max-height: 80vh;
  object-fit: contain;
  border-radius: 8px;
}

.modal__caption {
  max-width: 135px;
  max-height: 32px;
  background-color: #212121;
  color: #fff;
  border-radius: 8px;
  align-items: flex-start;
  font-size: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background: transparent url("../images/Group\ 27.svg") center no-repeat;
  opacity: 0.4;
  border: none;
  cursor: pointer;
}

.modal__close-btn_type_preview {
  background-image: url("../images/Close__icon_light-color.svg");
  top: 0;
  right: -52.5px;
  opacity: 1;
  border: none;
  padding: 0;
}

.modal__close-btn:hover {
  color: black;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: #212121;
  opacity: 70%;
  font-weight: 500;
  font-size: 16px;
  line-height: 17.6px;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.modal__input_Type_error {
  border: 1px solid rgba(225, 0, 0, 0.6);
}

.modal__input:hover {
  border-color: black;
  cursor: pointer;
}

.modal__error {
  display: block;
  color: red;
  margin-top: 8px;
  /*to do use correct color and font sizes*/
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  border-radius: 8px;
  background-color: #212121;
  color: #fcf5e5;
  border: none;
  cursor: pointer;
}

.modal__submit-btn-disabled {
  opacity: 50%;
}

.modal__submit-btn:hover {
  opacity: 0.7;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__title {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 24px;
  }

  .modal__input {
    font-size: 16px;
    line-height: 16px;
    color: #212121;
    opacity: 30%;
    height: 48px;
  }

  .modal__container {
    padding: 12px;
    max-width: 300px;
    max-height: 336px;
    gap: 24px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 24px;
    height: 40px;
    gap: 0;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__label {
    margin-bottom: 24px;
    height: 74px;
  }

  .modal__submit-btn {
    width: 276px;
    height: 52px;
    border: none;
    padding: 0;
  }

  .modal__image {
    max-width: 288px;
    max-height: 426.57px;
    padding: 0;
  }

  .modal__container_type_preview {
    background-color: transparent;
    max-width: 288px;
    max-height: 426.57px;
    border-radius: 4px;
    justify-content: center;
    padding: 0;
  }

  .modal__close-btn_type_preview {
    top: -40px;
    right: 0px;
    padding: 0;
  }

  .modal__caption {
    border: none;
    font-size: 16px;
    padding: 4px 8px 4px 8px;
  }
}
