.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  max-width: 1280px;
}

.profile__avatar {
  margin-right: 20px;
  height: 190px;
  width: 190px;
  border-radius: 8px;
  object-fit: cover;
}

.profile__column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.profile__name {
  margin: 0 0 12px;
  line-height: 32px;
  font-size: 32px;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  line-height: 16px;
  font-size: 16px;
  font-weight: 500;
  opacity: 70%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  margin-top: auto;
  align-items: flex-end;
  justify-content: space-between;
  width: fit-content;
  height: 16px;
  gap: 8px;
  opacity: 0.7;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  white-space: nowrap;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  margin-left: auto;
  margin-top: auto;
  background-color: #212121;
  color: white;
  border-radius: 8px;
  width: 157px;
  height: 52px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }

  .profile__avatar {
    margin: 0 0 12px;
    width: 80px;
    height: 80px;
  }

  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
    line-height: 20px;
  }

  .profile__description {
    margin: 0 0 32px;
    max-width: 288px;
  }

  .profile__column {
    margin: 0 0 20px;
    align-items: center;
  }

  .profile__edit-btn {
    width: 107.34px;
    height: 16px;
  }

  .profile__add-btn {
    margin: 0;
    width: 288px;
    height: 52px;
  }
}
